/* LOCAL BANNER */
body::before {
  content: "Because we have increased online access, some physical books and journals may not circulate out of the library. Individual title status is indicated in the catalog.";
  display: inline-block;
  background: #ecd90f;
  text-align: center;
  width: 100%;
  font-weight: bold;
}